*{
    box-sizing: border-box;
}

body{

    background-image: url("assets/image-de-fonds.png");
    object-fit: cover;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;

    margin: 90px 0px;
}

.btn_return{

    position: absolute;
    left: 20px;
    top: 20px;

    width: 50px;
    height: 50px;

    background-color: var(--ink) ;
    color: var(--yellow);

    border-radius: 20px;
    
    padding: 15px;

    z-index: 10;
}

.cnt{

    background-color: white;
    width: 50vw;
    height: fit-content;

    padding: 30px 100px;
    border-radius:38px ;

    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.589);
}

.deco{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    margin-bottom: 20px;
}

#icon_user{
    width: 50px;
    height: 50px;

    background-color: var(--yellow);
    color: var(--ink);
    border-radius: 100%;

    text-align: center;
    padding: 17PX;
}

form{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
    justify-content: center;
}

input,select{
    width:90%;
    padding:12px 14px;
    border-radius:10px;
    border:2px solid rgba(0, 0, 0, 0.212);
    background:#fff;
    font:inherit;
    font-size:14px;
    outline:none

}

.info_perso,select{
    width:44%;
}

label{
    width: 90%;
}

label i{
    margin: 20px 10px 10px 10px;
    color: var(--ink);
}

.btn_submit{
 
    width: 90%;
    height: 50px;

    margin: 20px 0px;
    background-color: var(--ink) ;
    color: var(--yellow);

    border-radius: 20px;


}

a{
    font-weight: bold;
}